{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="d-flex row justify-content-between">
      <h1>지도</h1>
      <h1>전통주점</h1>
      {% comment %} 아코디언 시작 {% endcomment %}
      {% for store in stores %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                {{ store.store }}
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">{{ store.address }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% comment %} 아코디언 끝 {% endcomment %}
    </div>
  </div>
{% endblock content %}