<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'alcohols:index' %}">Drink Chosun</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="{% url 'stores:index' %}">추천 주점</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'articles:index' %}">게시판</a></li>
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link active" href="#!">Contact</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:profile' request.user.pk %}">프로필</a></li>
                <form action="{% url 'accounts:logout' %}" method="POST">
                  {% csrf_token %}
                  <li class="nav-item"><button>로그아웃</button></li>
                </form>
                </div>
                {% else %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:login' %}">로그인</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:signup' %}">회원가입</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>